#ifndef SECRETS_H
#define SECRETS_H

#define SMS_TARGET     "+910000000000"
#define TRIGGER_NUMBER "0000000000"

#define WIFI_SSID     "YOUR_WIFI_SSID"
#define WIFI_PASS     "YOUR_WIFI_PASSWORD"

#define MQTT_SERVER   "YOUR_MQTT_SERVER_URL"
#define MQTT_USER     "YOUR_MQTT_USERNAME"
#define MQTT_PASS     "YOUR_MQTT_PASSWORD"
#define MQTT_PORT     8883

#define WEBHOOK_URL   "YOUR_WEBHOOK_URL"

#endif 
